<div class="container">
    <div class="content">
        <img src="./assets/gifs/skele-4045.gif" alt="Skeleton" class="not-found-gif" />
        <div class="description-wrapper">
            <p class="title">Did you get lost ?</p>
            <p class="description">It seems like you wandered so far from the site. Do you want to travel back</p>
            <div class="actions-wrapper">
                <button class="common-button" (click)="goBack()">Take me back</button>
                <p class="stay">I'd rather stay</p>
            </div>
        </div>
    </div>
</div>
