/dist
/tmp
/out-tsc
/node_modules
/coverage
/.idea
/.git
/documentation
/projects/sam-web/deployment
/projects/sam-desktop/deployment
/e2e_report

jenkins/*.groovy
jenkins/*.sh
.gitignore
.gitkeep
.prettierignore
.editorconfig
*.ico
*.jpg
*.png
*.svg
*.ttf
*.woff
*.woff2
*.eot
.browserslistrc
package-lock.json
